<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <div>Add new user</div>
    <div>
        {{#message}}
            {{message}}
        {{/message}}
    </div>
    <form action="/registration" method="post">
        <div>
            <label>
                User Name:
                <input type="text" name="username" placeholder="Enter username">
            </label>
        </div>
        <div>
            <label>
                Password:
                <input type="text" name="password" placeholder="Enter password">
            </label>
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div>
            <input type="submit" value="Add user">
        </div>
    </form>
</body>
</html>